html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;

	background-color: #99ffff;
}

p {
	margin: 0;
}

a.image-hover img:hover {
	/* enlarge icons on hover */
	-webkit-transform: scale(1.5,1.5);
}
