html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;

	background-color: white;
}

p {
	margin: 0;
}

a {
	color: #3fccff;
}

.word-prop {
	position: relative;
	margin-left: 15%;
}

#name {
	font-size: 500%;
	font-family: 'roboto';

	margin-top: 10%;
}

#description {
	font-size: 300%;
	font-family: 'arial';

	margin-top: 2%;
}

ul {
	padding: 0;
	position: relative;
	margin-top: 13%;
	margin-left: 13%;
}

li {
	list-style-type: none;
}

.svg-icons {
	width: 10%;
	height: 10%;
}

.svg-icons:hover {
	transform: scale(1.1);
}

.icon-edit {
	width: 6%;
	height: 6%;

	margin-bottom: 2.2%;

	padding-left: 18px;
	padding-right: 18px;
}