html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;

	background-color: white;
}

p {
	margin: 0;
}

a {
	color: #3fccff;
}

.word-prop {
	position: relative;
	margin-top: 6%;
	margin-left: 15%;
}

#name {
	font-size: 500%;
	font-family: 'roboto';
}

#description {
	font-size: 300%;
	font-family: 'arial';
}

ul {
	padding: 0;
	position: relative;
	margin-top: 13%;
	margin-left: 13%;
}

li {
	list-style-type: none;
}

.svg-icons {
	width: 10%;
	height: 10%;
}
