body {
	width: 600px;
	height: 500px;
	margin: auto;
	font-family: Quicksand-Regular;
}

a {
	text-decoration: none;
}

/* delare fonts */
/* header */
@font-face {
	font-family: Lato-Hairline;
	src: url("Lato/Lato-Hairline.ttf");
}

/* text intro */
@font-face {
	font-family: Quicksand-Bold;
	src: url("Quicksand/Quicksand-Bold.ttf");
}

/* subtitles */
@font-face {
	font-family: Quicksand-Regular;
	src: url("Quicksand/Quicksand-Regular.ttf");
}

/* website text */
@font-face {
	font-family: Quicksand-Light;
	src: url("Quicksand/Quicksand-Light.ttf");
}

/* applies to all parts */
.part_divs {
	margin: auto;

	width: 1280px; /* same width but different height, height declared individually */
	
	position: relative;
	right: 190px;
}

/* applies to all part subtitles */
.part_subtitles {
	margin: auto;
	text-align: center;

	font-family: Quicksand-Regular;
	font-size: 80px;
	color: white;
}

#quick_glance {
	/*
		set it a certain width
		use position relative to fit the whole div inside the screen
		get rid of excess width
	*/
	background-color: #70DBFF;
	height: 670px;

	margin: auto;
}

#hello {
	position: relative;
	top: 140px;

	font-family: Lato-Hairline;
	font-size: 80px;
	color: black;

	text-align: center;

	display: none;
}

#quick_intro {
	position: relative;
	top: 240px;

	font-family: Lato-Hairline;

	text-align: center;

	margin: auto;

	display: none;
}

#quick_intro li {
	text-align: center;

	display: inline;

	font-size: 45px;
	color: black;

	padding-left: 30px;
	padding-right: 30px;
}

.list_border {
	border-left: 2px solid;
}

#self_intro {
	background-color: #33CCFF;

	height: 675px;
}

#self_intro_subtitle {
	font-family: Lato-Hairline;
	font-size: 80px;
}


#self_intro_text {
	position: relative;
	top: 20px;

	text-align: center;

	font-family: Quicksand-Bold;
	font-size: 30px;
}

#contact_me {
	background-color: #70DBFF;

	height: 200px;

	position: relative;
	bottom: 60px;
}

#contact_me p {
	text-align: center;

	color: white;
	font-size: 60px;
}
#contact_me ul {
	position: relative;
	margin-left: 365px;
}

#contact_me a li {
	display: inline;

	padding-left: 50px;
	padding-right: 50px;
}

#desktop {
	position: relative;
	bottom: 10px;
	margin-left: 100px;

	color: white;
}