[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-mail {
	width: 32px;
	height: 32px;
}
#icon-mail .path1 {
	fill: currentcolor;
}
.icon-twitter {
	width: 32px;
	height: 32px;
}
#icon-twitter .path1 {
	fill: currentcolor;
}
.icon-github {
	width: 32px;
	height: 32px;
}
#icon-github .path1 {
	fill: currentcolor;
}
